.modal {
	border: 1px solid #e0e0e0;
	background-color: white;
	border-radius: 5px;
	box-shadow: 10px 10px 5px #888888;
	padding:5px;
	text-align:center;
	margin: 0 auto;
	left: 600px;
}

.modal h2 {
	margin-bottom: 0;	
}

.modal .button {
	background-color:#049CDB;
	cursor:pointer;
	font-family:arial;
	color:white;
	line-height:28px;
	width:60px;
	font-size; 14px;
	display: inline-block;
	margin-left: 20px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.25);
}
.modal .button:hover {
	background-color: #1EB6F5;
}

.modal .no-repeat-container {
	text-align: right;
	margin-bottom: 10px;
}


.modal input[type=text], .modal textarea {
	width: 100%;
	font-family:times;
}

